#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
&kp ESC  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp N4  &none  &none  &kp NUMBER_7  &kp NUMBER_8  &none  &none  &none  &none  &none  &none
&none    &kp Q         &kp W         &kp E         &none   &none  &none                &none         &none  &none  &none  &none  &none  &none  &none
&none    &none         &none         &none         &none   &none                       &none         &none  &none  &none  &none  &none  &none
&none    &none         &none         &none         &none   &none         &none         &none         &none  &none  &none  &none  &none  &none
         &none         &none         &none         &none   &none  &none                &none         &none  &none  &none
            >;
        };

        layer_1 {
            bindings = <
&none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none  &none         &none  &none  &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none                &none  &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none         &none  &none  &none  &none  &none  &none  &none  &none
       &none  &none  &none  &none  &none  &none         &none  &none  &none  &none
            >;
        };

        layer_2 {
            bindings = <
&none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none  &none         &none  &none  &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none                &none  &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none         &none  &none  &none  &none  &none  &none  &none  &none
       &none  &none  &none  &none  &none  &none         &none  &none  &none  &none
            >;
        };

        layer_3 {
            bindings = <
&none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none  &none         &none  &none  &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none                &none  &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none         &none  &none  &none  &none  &none  &none  &none  &none
       &none  &none  &none  &none  &none  &none         &none  &none  &none  &none
            >;
        };
    };
};
